<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Form</title>
</head>
<body>
<h2>Customer Form</h2>
<form th:action="@{/submitCustomer}" th:object="${customer}" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}"/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}"/>
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    <button type="submit">Submit</button>
</form>
</body>
</html>
